.siderMenu {
    text-align: start;
    background: #fff !important;
}

.menu li ul {
    background: #fff !important;
}

.birthIcon{
    width: 10px;
}

@media only screen and (max-width: 767px) {
    .siderMenu {
        position: absolute !important;
        z-index: 99999999;
        height: 100vh;
    }
}